.grid--special {
  padding-left: 100px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 30% 33% 33%;
  grid-template-rows: repeat(2, 50%);

  row-gap: 30px;
}

.title--special {
  position: absolute;
  margin-top: -80px;
  margin-left: 12px;
  font-size: 32px;
  letter-spacing: 1.28px;

  text-decoration: underline;
  text-decoration-color: #FF902B;
}