.grid--special  {
  display: grid;
  grid-template-columns: 30% 33% 33%;
  grid-template-rows: repeat(2, 50%);
  column-gap: 10px;
  row-gap: 10px;
}

.box {
  background-color: brown;
  height: 300px;
  width: 100%;
}